/*Dashboard CSS*/

body {
    background-attachment: fixed;
}

#dashboard-container {
	background: #c8dde1;
	width: 70%;
	margin: auto;
	border-radius: 25px;
}

#content {
	padding-bottom: 40px;
	color: white;
}

#updates-list {
	background: #9ebcc3;
	border-radius: 25px;
	padding: 20px;
	width: 60%;
	text-align: left;
}

#updates-list ul {
	color: whitesmoke;
	width: 80%;
	margin: auto;
}

#updates-list li {
	margin: 10px 0;
}

h3.ui.header {
	color: white;
}

@media only screen and (max-width: 768px) {
    #dashboard-container {
        width: 100%;
    }
    #updates-list {
        width: 90%;
    }
    #updates-list ul {
        width: 100%;
    }
    .main-header {
        width: 100%;
        margin-top: 0!important;
    }
    .information-bullets div div {
        padding: 10px;
    }
}
