body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(242.6deg, #F7E3FF 13.55%, rgba(255, 255, 255, 0) 72.1%), linear-gradient(305.88deg, #D0FFC4 3.44%, rgba(255, 255, 255, 0) 85.48%), linear-gradient(133.02deg, #CEEEF2 15.42%, rgba(206, 238, 242, 0) 83.77%);
}
