/* General Info Page CSS Goes Here. */
.main-header {
  font-size: 3em !important;
  color: white !important;
  text-shadow: 2px 1px 5px rgba(150, 150, 150, 1);
}

h2 {
	text-shadow: 2px 1px 5px rgba(150, 150, 150, 1);
	color: white;
}

h2.ui.header {
	color: white;
}

p {
	color: #7b7b7b;
	margin-left: 20px;
}

.cover-photo {
	max-width: 100%;
	position: relative;
}

.cover-photo img{
	max-width: 100%;
	opacity: 1;
	display: block;
}

.overlay {
	background: black;
	opacity: 0.6;
}

.main-header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.information-bullets {
	text-align: left;
	width: 80%;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 25px;
}

.information-bullets div div {
	padding: 20px;
	margin-bottom: 10px;
	background: #c8dde1;
	border-radius: 20px;
}





